<div class="container p-3">
  <div class="row">
    <%#= render 'public/shared/header.html.erb' %>

  <div class="col-md-12">
    <h3>ご注文ありがとうございました！</h3>
  </div>

    <%#= render 'public/shared/footer.html.erb' %>
  </div>
</div>